# Data
data/*.txt
data/*.csv
MachineLearningRating_v3.txt
!requirements.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
.ipynb_checkpoints/


dvc_remote/files/md5/f6/b7009b68ae21372b7deca9307fbb23